
<div class="form-wrapper">

  <div class="create-form">

    <%= simple_form_for [@questionnaire, @question], class: "form-control" do |f| %>
    <%= f.input :title, label: 'Title', class: "form_field", placeholder: "General topic of question", required: true %>
    <%= f.input :body, label: 'Body', class: "form_field", placeholder: "Actual query", required: true %>
    <%= f.submit class: "start-btn" %>
    <% end %>

  </div>

</div>
