<h1><%=current_profile.first_name%></h1>


<% if current_profile.is_client == 1 %>
<h2>You are a client!</h2>
<% else %>
<h2>You are a Enduser</h2>
<% end %>

<%= link_to "Back home", root_path, class: "btn btn-primary" %>
