<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>
<h1><%=current_profile.first_name%></h1>


<% if current_profile.is_client == 1 %>
<h2>You are a client!</h2>
<% else %>
<h2>You are a Enduser</h2>
<% end %>
