#devise-links{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 2%;
  margin-top: 2%;
}
.devise-link:hover{
  text-decoration: none;
  color: $accent-orange;
}

#profile_gender{
  padding: 0.2em;
}
