
<div id="corner_label">
  <h1>TESTING</h1>
  <p>
    There are no prizes to be won
  </p>
</div>

<style>
  #corner_label {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid black;
    transform-origin: 50% top;
    transform: translate(-40%, 90%) rotate(-45deg);
    text-align: center;
    color: white;
    background-color: rgba(71, 59, 119, 0.5);
    padding: 0px 300px 0px 300px;
  }
  #corner_label h1 {
    padding: 10px;
    margin: 0px;
  }
</style>
