<div id="wrapper">
  <div id="wheel">
    <div id="inner-wheel">
      <div class="sec"><span class="fa fa-times" style="color: rgb(213, 86, 86);" aria-hidden="true"></span></div>
      <div class="sec"><span class="fa fa-trophy" style="color: gold;" aria-hidden="true"></span></div>
      <div class="sec"><span class="fa fa-gift" style="color: #473B77;" aria-hidden="true"></span></div>
      <div class="sec"><span class="fa fa-times" style="color: rgb(213, 86, 86);" aria-hidden="true"></span></div>
      <div class="sec"><span class="fa fa-trophy" style="color: gold;" aria-hidden="true"></span></div>
      <div class="sec"><span class="fa fa-gift" style="color: #473B77;" aria-hidden="true"></span></div>
    </div>

    <div id="spin">
      <div class="clickable" id="inner-spin"></div>
    </div>

    <div id="shine"></div>
  </div>
</div>
