<div class="modal hide fade" id="msgModal">
    <h2 style="margin-bottom: 3%;">All done!</h2>
    <hr class="orange-line">
    <h3 style="margin-bottom: 3%;">Thank you for your time</h3>
    <h4 style="margin-top: 3%; margin-bottom: 3%;">Are you ready to spin?</h4>
    <!-- <hr class="orange-line-smaller"> -->
    <button class="navbar-wagon-button yes-btn" style="margin-top: 3%;">YES!</button>
</div>
