<div class="welcome-container text-center">
  <h3>Welcome back, <%=current_user.profile.first_name%>!</h3>

  <div class="client-home-button">
    <%= link_to "Create a new questionnaire", new_questionnaire_path, class: "start-btn" %>
  </div>
  <div class="client-home-button">
    <%= link_to "Show all questionnaires", questionnaires_path, class: "start-btn" %>
  </div>
</div>
