<div class="container">
  <div class="welcome-container text-center">
    <div class="row">

      <%= image_tag 'answer_this_logo.png' %>
      <h3 style="margin-top: 3%; margin-bottom: 4%;">Share your opinion and win</h3>
      <%= link_to "Sign up",  new_user_registration_path, class: "start-btn" %>

      <%= mail_to "hello@answerthis.nl", subject: "I love your app!!", :body => "I realy love your app! I already won an iphone, a car and a holiday to the Maldives!!", class: "start-btn" do %>
      <%= t(".profile", default: "Contact") %>
      <% end %>
    </div>
  </div>
</div>

