<h1>Home for enduser</h1>

  <%= link_to "Go to a questionnaire", new_questionnaire_result_path(Questionnaire.last.id), class: "start-btn" %>

<%= link_to "show my profile", profile_path(current_profile), class: "start-btn" %>

<br>
