<div class="welcome-container text-center">
  <h3><%= @welcome_message1 %> <%=current_user.profile.first_name.capitalize%><%=@welcome_message2%></h3>
  <h3>Ready to win some cool prizes?</h3>

  <%= link_to "Play!", new_questionnaire_result_path(Questionnaire.last.id), class: "start-btn" %>
</div>
