<div class="welcome-container text-center">
  <h3>Welcome</h3>

    <%= link_to "Sign in", new_user_session_path, class: "start-btn" %>

    <%= mail_to "hello@answerthis.nl", subject: "I love your app!!", :body => "I realy love your app! I already won an iphone, a car and a holiday to the Maldives!!", class: "start-btn" do %>
    <%= t(".profile", default: "Contact") %>
    <% end %>

</div>
