
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="text-center">
  <%= link_to 'Take a questionnaire', questionnaire_path(@questionnaire), { class: 'btn btn-primary btn-lg' } %>
</div>

<%= link_to "How it works", profiles_path(current_user) %>
<br>
<%= mail_to "hello@answerthis.nl", "Get in touch!", subject: "Message" %>





