.theme{
  // padding-top: 10px;
  background-color: white;
  color: $main-purple;
  height: 100%;
}

.link{
  color: $accent-orange;
}

.link:hover{
  color: $main-purple;
  text-decoration: none;
}

.orange-line{
  border: 0;
  width: 80%;
  margin: 0 auto;
  height: 1px;
  color: $accent-orange;
  background-color: $accent-orange;
}
.orange-line-full{
  border: 0;
  width: 100%;
  margin: 0 auto;
  height: 1px;
  color: $accent-orange;
  background-color: $accent-orange;
}
.small-purp-line{
  border: 0;
  width: 40%;
  margin: 0 auto;
  height: 1px;
  color: $main-purple;
  background-color: $main-purple;
}
