<div class="errors-wrapper theme">
  <div class="error-div">


    <div class="error-msg-div">

      <div class="error-msg-div-1">

        <div id="error-number">
          <h1>
          Error <button class="error-btn">404</button>
          </h1>
        </div>

        <div class="error-desc">
          <h1>Page not found</h1>
        </div>

      </div>

    </div>


    <div class="return-home-div">
      <%= link_to 'Home', root_path, class: "start-btn-purple" %>
    </div>


  </div>
</div>



