<div class="spin-result-div text-center hidden">


  <div class="spin-result">
    <h1>Spin result</h1>
  </div>

  <!-- <button class="btn btn-danger btn-md finish-btn">Finito</button> -->
  <%= link_to 'Finito', root_path, { class: "btn btn-danger btn-md" } %>

</div>
