<h1>Questionnaires#index</h1>
<p>Find me in app/views/questionnaires/index.html.erb</p>

<% @questionnaires.each do |q| %>
<%= q.title %>
<%= q.description %>
<br>
<% end %>

<%= link_to "Go back", profile_path(current_profile.id) %>
