<div class="theme text-center">
  <h1>Questionnaires#index</h1>
  <p>Find me in app/views/questionnaires/index.html.erb</p>

  <% current_profile.questionnaires.each do |questionnaire| %>
  <%= link_to questionnaire.title, questionnaire_path(questionnaire), class: 'link' %>
  <br>
  <% end %>

  <br>
  <%= link_to "Back home", root_path, class: "start-btn" %>
</div>
