<div class="theme text-center">
  <h1>Questionnaires</h1>
  <p>Find a list of all your questionnairs down here:</p>


  <ul class="questions-list">
    <% current_profile.questionnaires.each do |questionnaire| %>
      <div class="questionnaire-card">
        <li>
          <%= link_to questionnaire.title, questionnaire_path(questionnaire), class: 'link' %>
        </li>
      </div>
    <% end %>
  </ul>

  <br>
  <%= link_to "Back home", root_path, class: "start-btn" %>
</div>
