<div class="theme text-center">
  <h1>Questionnaires#index</h1>
  <p>Find me in app/views/questionnaires/index.html.erb</p>

  <ul class="questions-list">
    <% current_profile.questionnaires.each do |questionnaire| %>
      <div class="questionnaire-card">
        <li>
          <%= link_to questionnaire.title, questionnaire_path(questionnaire), class: 'link' %>
        </li>
      </div>
    <% end %>
  </ul>

  <br>
  <%= link_to "Back home", root_path, class: "start-btn" %>
</div>
