<h1>Questionnaires#new</h1>
<p>Find me in app/views/questionnaires/new.html.erb</p>

<%= simple_form_for @questionnaire do |f| %>
  <%= f.input :title, label: 'Title', class: "form_field", required: true %>
  <%= f.input :description, label: 'Description', class: "form_field", required: true %>
<%= f.submit %>
<% end %>
