.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.create-form{
  width: 60%;
  height: 100%;
}

.form-div{
  width: 35%;
  height: 100%;
}

.created-answers{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: 70%;
}

.created-answer{
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  // height: 20px;
}

.form-inputs{
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .form-inputs{
    width: auto;
  }
  .form-div{
    width: auto;
    height: 100%;
  }
}
