.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.create-form{
  width: 60%;
  height: 100%;
}

.login-form{
  width: 30%;
  height: 100%;
}

.created-answers{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  height: 70%;
}

.created-answer{
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  // height: 20px;
}

.input-row{
  display: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.input-tag{
  margin-top: 1.5%;
  // padding-left: 0;
  // padding-right: 0;
}

.input-field{
  // padding-left: 0;
  // padding-right: 0;
}
