// Question cards

.questions-div{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  // flex-direction: column;
  align-content: center;
  // flex-wrap: wrap;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 4%;
  text-align: center;
}

.question-list-container{
  width: 100%;
  height: 100%;
}

.question-list{
  height: 100%;
  width: 50%;
  list-style-type: none;
}

.question-list-item{
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.question-card{
  border: 1px solid $main-purple;
  border-radius: 2px;
  width: 100%;
  height: 25%;
  margin: 5px;
  margin-right: 0px !important;
  padding: 4px 4px 0px 4px;
}

.prizes-div{
  margin-top: 4%;
}

.answers-list{
  padding: 5%;
  width: 70%;
  margin-left: 15%;
}

.answers-list > li{
  border: 1px solid $accent-orange;
  border-radius: 2px;
}

// .answers-list{
//   border: 1px solid $main-purple;
// }


// General

.prize-detail-list{
  border: 1px solid $main-purple;
}

.prize-detail-list, .answers-list{
  border-radius: 2px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prize-detail-list > li, .answers-list > li {
  text-align: center;
  font-weight: lighter;
  color: $accent-orange;
  margin: 2%;
  width: 80%;
  font-size: 10px;
}


.question-card, .prize-card{
   box-shadow: 1px 1px 10px $main-purple;
   background-color: $background-blue;
}

.button{
  margin-top: 1.5%;
  margin-bottom: 2.5%;
}

.title-div{
  width: 100%;
  text-align: center;
}

.q-or-a-title{
  margin: 3% auto;
  border-left: 1px solid $main-purple;
  border-right: 1px solid $main-purple;
  width: 15%;
}


.lighter-text{
  font-weight: lighter;
}
.accent-orange{
  color: $accent-orange;
}
.main-purple{
  color: $main-purple;
}
