
.modal-dialog {
    margin: 40% auto 0 auto;
}
.result{
  // border: 3px dotted $accent-orange;
  // width: 50%;
  height: 120px;
  margin: 0 auto;
  text-align: center;
  color: $main-purple;
  visibility: hidden;
  &.show{
    visibility: visible;
  }
}
